<section>
    </br>
    </br>
    <blockquote>
        <p>
            "Debugging is twice as hard as writing the code in the first place. Therefore, if you write the code as
            cleverly as possible, you are, by definition, not smart enough to debug it”
        </p>
        <footer>
            <strong>Brian Kernighan</strong>
            <cite>
                <a href="http://www.softwarequotes.com/showquotes.aspx?id=575&name=Brian%20Kernighan">www.softwarequotes.com</a>
            </cite>
        </footer>
    </blockquote>
    <!--<blockquote>-->
    <!--<p>-->
    <!--"We always strain at the limits of our ability to comprehend the artifacts we construct -- that's true for software and for skyscrapers."-->
    <!--</p>-->
    <!--<footer>-->
    <!--<strong>James Gosling</strong>-->
    <!--<cite>-->
    <!--<a href="http://www.softwarequotes.com/showquotes.aspx?id=709&name=James%20Gosling">www.softwarequotes.com</a>-->
    <!--</cite>-->
    <!--</footer>-->
    <!--</blockquote>-->
</section>
